@use 'styles/__mixins' as mixins;

.Wrapper {
  color: #fff;
  background: #3C8DF3;
  padding: 10px;
  border: 4px #fff solid;
  border-radius: 10px;
  transition: border-color 0.5s ease-in-out, background-color 0.5s ease-in-out;
  cursor: pointer;
  @include mixins.font-48;

  &:hover {
    border-color: #3C8DF3;
    background-color: transparent;
  }
}
