.Wrapper {
  position: relative;
  background-image: linear-gradient(128deg, rgb(255, 154, 63), rgb(255, 75, 64));
  overflow: hidden;
}

.TextWrapper {
  position: absolute;
  z-index: 1;
  top: -100%;
  right: -100%;
  transform: translateY(-50%);
  transition: top 1s ease-in-out, right 1s ease-in-out;

  &.isActive {
    top: 50%;
    right: 10%;
  }
}

.Text {
  color: #fff;
  font-size: 36px;
  line-height: 3rem;
}

.Img {
  position: absolute;
  z-index: 1;
  top: -100%;
  left: -100%;
  width: 40%;
  height: 100%;
  transition: top 1s ease-in-out, left 1s ease-in-out;

  &.isActive {
    top: 0;
    left: 0;
  }
}
