.Wrapper {
  position: relative;
  background-image: linear-gradient(128deg, rgb(255, 154, 63), rgb(255, 75, 64));
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.TextWrapper {
  margin-left: auto;
  margin-right: auto;
  transform: translate(100vh, -100vh);
  transition: transform 1s ease-in-out;

  &.isActive {
    transform: translate(0, 0);
  }
}

.Text {
  color: #fff;
  font-size: 36px;
  line-height: 1.4;
}

.Img {
  width: 40%;
  height: 100%;
  transform: translate(-100vh, -100vh);
  transition: transform 1s ease-in-out;

  &.isActive {
    transform: translate(0, 0);
  }
}
