.Wrapper {
  position: relative;
  background-image: linear-gradient(128deg, rgb(255, 154, 63), rgb(255, 75, 64));
  color: #fff;
  font-size: 48px;
}

.Text {
  position: absolute;
  z-index: 1;
  top: -100%;
  right: -100%;
  transition: top 1s ease-in-out, right 1s ease-in-out;

  &.isActive {
    top: 50%;
    right: 10%;
  }
}
