.Wrapper {
  position: relative;
  background-image: linear-gradient(135deg, rgb(73, 83, 153) 10%, rgb(4, 1, 87) 100%);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.TextWrapper {
  margin-left: auto;
  margin-right: auto;
  transform: translate(100vh, -100vh);
  transition: transform 1s ease-in-out;

  &.isActive {
    transform: translate(0, 0);
  }
}

.Subtext {
  font-size: 24px;
  margin-top: 32px;
}

.Img {
  width: 40%;
  height: 100%;
  transform: translate(-100vh, -100vh);
  transition: transform 1s ease-in-out;

  &.isActive {
    transform: translate(0, 0);
  }
}
