.Wrapper {
  position: relative;
  background-image: linear-gradient(128deg, rgb(64, 175, 255), rgb(63, 97, 255));
  color: #fff;
  font-size: 48px;
  text-align: right;
}

.Logo {
  position: static;
  width: 40%;
  height: 40%;
}
