.Wrapper {
  position: relative;
  background-image: linear-gradient(128deg, rgb(64, 175, 255), rgb(63, 97, 255));
  color: #fff;
  font-size: 48px;
}

.ButtonDown {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  background: yellow;
}

.Logo {
  position: static;
  width: 50%;
  height: 50%;
}
