.Wrapper {
  position: relative;
  background: red;
  font-size: 48px;
}

.ButtonDown {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  background: yellow;
}
