.Wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(128deg, rgb(64, 175, 255), rgb(63, 97, 255));
}

.Logo {
  position: static;
  width: 40%;
  height: 40%;
}

.Text {
  color: #fff;
  font-size: 48px;
  text-align: right;
}
