.Wrapper {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(128deg, #3a85ff, #3a85ff);
  overflow: hidden;
}

.Logo {
  position: static;
  width: 40%;
  height: 40%;
}

.Title {
  text-align: right;
}
