.Wrapper {
  position: relative;
  background-image: linear-gradient(135deg, rgb(73, 83, 153) 10%, rgb(4, 1, 87) 100%);
  color: #fff;
  font-size: 48px;
}

.ButtonDown {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
}

.TableWrapper {
  td,
  th {
    border: 5px #fff solid;

    &:nth-child(1) {
      text-align: right;
      padding-right: 35px;
      padding-left: 15px;
    }

    &:nth-child(2) {
      text-align: left;
      padding-left: 35px;
      padding-right: 15px;
    }
  }
}

.Img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(90deg);
  transition: transform 1s ease-in-out;

  &.isActive {
    transform: rotateY(0deg);
  }
}
