.Wrapper {
  position: relative;
  background-image: linear-gradient(135deg, rgb(73, 83, 153) 10%, rgb(4, 1, 87) 100%);
  color: #fff;
  font-size: 48px;
}

.ButtonDown {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
}
