@use 'styles/__mixins' as mixins;

.Wrapper {
  position: relative;
  background-image: linear-gradient(135deg, rgb(73, 83, 153) 10%, rgb(4, 1, 87) 100%);
  overflow: hidden;
}

.Title {
  z-index: 2;
  transform: translateY(-100vh);
  transition: transform 1s ease-in-out;

  &.isActive {
    transform: translateY(0);
  }
}

.TableWrapper {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  transform: translateY(100vh);
  transition: transform 1s ease-in-out;
  @include mixins.font-36;

  &.isActive {
    transform: translateY(0);
  }

  td,
  th {
    border: 1px #fff solid;

    &:nth-child(1) {
      text-align: right;
      padding-right: 35px;
      padding-left: 15px;
    }

    &:nth-child(2) {
      text-align: left;
      padding-left: 35px;
      padding-right: 15px;
    }
  }
}

.Img {
  transform: rotateX(90deg);
  transition: transform 1s 0.25s ease-in-out;

  &.isActive {
    transform: rotateX(0deg);
  }
}

.Calculations {
  position: absolute;
  z-index: 2;
  left: -200%;
  bottom: 50px;
  transform: translateX(calc(-100% - 50px));
  transition: left 1s ease-in-out;

  &.isActive {
    left: 100%;
  }
}

.ModalContentWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.ModalContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 80px;
  width: 50%;
  color: #fff;
  @include mixins.font-24
}

.ModalContentLine {
  margin-top: 15px;
  // border-bottom: 1px grey solid;
  padding-bottom: 5px;
  line-height: 1.5;

  &:nth-child(1) {
    margin-top: 0;
  }
}

.ModalContentTitle {
  text-align: center;
  margin-bottom: 35px;
  @include mixins.font-48;
}

.ModalContentSubTitle {
  text-align: center;
  margin-top: 15px;
  @include mixins.font-36;
}

.Text {
  z-index: 2;
  margin-top: 36px;
  transform: translateX(100vh);
  transition: transform 1s ease-in-out;

  &.isActive {
    transform: translateX(0);
  }
}
