.Wrapper {
  position: relative;
  background-image: linear-gradient(128deg, rgb(252, 64, 255), rgb(84, 63, 255));
  overflow: hidden;
}

.Title {
  transform: translate(-100vh);
  transition: transform 1s ease-in-out;

  &.isActive {
    transform: translate(0);
  }
}

.Text {
  margin-top: 50px;
  transform: translate(100vh);
  transition: transform 1s ease-in-out;

  &.isActive {
    transform: translate(0);
  }
}

.Img {
  transform: rotateY(90deg);
  transition: transform 1s 0.25s ease-in-out;

  &.isActive {
    transform: rotateY(0deg);
  }
}

.MoreDetails,
.AboutDesign {
  position: absolute;
  z-index: 3;
  top: -100vh;
  right: 50px;

  &.isActive {
    top: 50px;
  }
}

.AboutDesign {
  top: unset;
  right: unset;
  bottom: -100vh;
  left: 50px;

  &.isActive {
    top: unset;
    bottom: 50px;
  }
}

.ModalContentWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.ModalContent {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 24px;
  padding: 50px;
  width: 50%;
  color: #fff;
}

.ModalContentLine {
  margin-top: 15px;
  // border-bottom: 1px grey solid;
  padding-bottom: 5px;
  line-height: 1.4;

  &:nth-child(1) {
    margin-top: 0;
  }
}

.ModalContentTitle {
  font-size: 48px;
  text-align: center;
  margin-bottom: 35px;
}

.ModalContentSubTitle {
  font-size: 36px;
  text-align: center;
  margin-top: 15px;
}
