.Wrapper {
  position: relative;
  background-image: linear-gradient(128deg, rgb(252, 64, 255), rgb(84, 63, 255));
  color: #fff;
  font-size: 48px;
}

.ButtonDown {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
}
