.Wrapper {
  position: relative;
  background-image: linear-gradient(128deg, rgb(252, 64, 255), rgb(84, 63, 255));
}

.ButtonDown {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
}

.Title {
  position: absolute;
  z-index: 2;
  top: 15%;
  left: -100%;
  margin: auto;
  font-size: 48px;
  color: #fff;
  transform: translateX(-50%);
  transition: left 1s ease-in-out;

  &.isActive {
    left: 50%;
  }
}

.Text {
  position: absolute;
  z-index: 2;
  right: -100%;
  margin: auto;
  font-size: 21px;
  line-height: 1.5;
  color: #fff;
  transform: translateX(50%);
  transition: right 1s ease-in-out;

  b {
    font-weight: bold;
  }

  &.isActive {
    right: 50%;
  }
}

.Img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(90deg);
  transition: transform 1s ease-in-out;

  &.isActive {
    transform: rotateY(0deg);
  }
}
