.Wrapper {
  position: relative;
  background-image: linear-gradient(128deg, rgb(252, 64, 255), rgb(84, 63, 255));
}

.ButtonDown {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
}

.Title {
  position: absolute;
  z-index: 2;
  top: 15%;
  left: -100%;
  margin: auto;
  font-size: 48px;
  color: #fff;
  transform: translateX(-50%);
  transition: left 1s ease-in-out;

  &.isActive {
    left: 50%;
  }
}

.Text {
  position: absolute;
  z-index: 2;
  right: -100%;
  font-size: 24px;
  line-height: 1.25;
  color: #fff;
  transform: translateX(50%);
  transition: right 1s ease-in-out;

  b {
    font-weight: bold;
  }

  &.isActive {
    right: 50%;
  }
}

.Img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(90deg);
  transition: transform 1s ease-in-out;

  &.isActive {
    transform: rotateY(0deg);
  }
}

.MoreDetails,
.AboutDesign {
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: 50px;
  right: 50px;
  font-size: 48px;
  color: #fff;
  background: rgb(84, 63, 255);
  padding: 10px;
  border: 4px #fff solid;
  border-radius: 10px;
  transition: opacity 1s 0.75s ease-in-out, border-color 0.5s ease-in-out, background-color 0.5s ease-in-out;
  cursor: pointer;

  &:hover {
    border-color: rgb(84, 63, 255);
    background-color: transparent;
  }

  &.isActive {
    opacity: 1;
  }
}

.AboutDesign {
  top: unset;
  right: unset;
  bottom: 50px;
  left: 50px;
}

.ModalContent {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 34px;
  padding: 50px;
  color: #fff;
}

.ModalContentLine {
  margin-top: 15px;
  border-bottom: 1px grey solid;
  padding-bottom: 5px;
  line-height: 1.5;

  &:nth-child(1) {
    margin-top: 0;
  }
}
