.Wrapper {
  position: relative;
  background-image: linear-gradient(128deg, #3a85ff, #3a85ff);
  overflow: hidden;
}

.Title {
  z-index: 2;
  transform: translate(-100vh, -50vh);
  transition: transform 1s ease-in-out;

  &.isActive {
    transform: translate(0);
  }
}

.Text {
  z-index: 2;
  margin-top: 50px;
  transform: translate(100vh, -50vh);
  transition: transform 1s ease-in-out;

  &.isActive {
    transform: translate(0);
  }
}

.Img {
  top: -100vh;
  transition: top 1s ease-in-out;

  &.isActive {
    top: 0;
  }
}
