.Wrapper {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(128deg, rgb(64, 175, 255), rgb(255, 75, 64));
  overflow: hidden;
}

.Title {
  font-size: 48px;
  color: #fff;
  transform: translate(-100vh, -50vh);
  transition: transform 1s ease-in-out;

  &.isActive {
    transform: translate(0);
  }
}

.Text {
  font-size: 24px;
  line-height: 1.25;
  color: #fff;
  transform: translate(100vh, -50vh);
  transition: transform 1s ease-in-out;

  &.isActive {
    transform: translate(0);
  }
}

.Img {
  top: -100vh;
  z-index: 0;
  transition: top 1s ease-in-out;

  &.important {
    z-index: 0;
    top: -100vh;

    &.isActive {
      top: 0;
    }
  }

  &.isActive {
    top: 0;
  }
}

.Shadow.important {
  z-index: 0;
}
