.ExtraWrapper {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &.isActive {
    display: block;
  }
}

.Wrapper {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  overflow: auto;
  width: 90%;
  height: 90%;
  background-color: rgba(#111, 0.85);
  transform: translate(-50%, -50%);
  border-radius: 6px;
  cursor: auto;
}

.CloseButtonWrapper {
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 15px;

  height: 45px;
  width: 45px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: rotate(180deg);
  }

  img {
    height: 100%;
    width: 100%;
  }
}
