.ExtraWrapper {
  position: fixed;
  z-index: 100;
  top: -200%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 0.3s ease-in-out;
  cursor: pointer;

  &.isActive {
    top: 0;
  }
}

.Wrapper {
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  overflow: hidden;
  overscroll-behavior: none;
  backdrop-filter: blur(14px);
  background: rgba(#111, 0.25);
  transform: translate(-50%, -50%);
  border-radius: 24px;
  transition: opacity 0.4s ease-in-out;
  cursor: auto;

  &.isActive {
    opacity: 1;
  }
}

.Content {
  position: relative;
  top: clamp(-26px, -3.33vmin, -48px); // 36
  width: 100%;
  height: 100%;
  overflow: auto;
  overscroll-behavior: none;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(#fff, 0.8);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.CloseButtonWrapper {
  position: sticky;
  z-index: 1;
  top: 15px;
  right: 15px;
  margin-right: 15px;
  margin-left: auto;
  float: right;
  height: clamp(26px, 3.33vmin, 48px); // 36
  width: clamp(26px, 3.33vmin, 48px); // 36
  opacity: 0.8;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: rotate(180deg);
  }

  img {
    height: 100%;
    width: 100%;
  }
}
