.ExtraWrapper {
  position: fixed;
  z-index: 100;
  top: -200%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 0.3s ease-in-out;
  cursor: pointer;

  &.isActive {
    top: 0;
  }
}

.Wrapper {
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  overflow: auto;
  overscroll-behavior: none;
  backdrop-filter: blur(14px);
  background: rgba(0,0,0,0.25);
  transform: translate(-50%, -50%);
  border-radius: 6px;
  transition: opacity 0.4s ease-in-out;
  cursor: auto;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fff;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &.isActive {
    opacity: 1;
  }
}

.CloseButtonWrapper {
  position: sticky;
  z-index: 1;
  top: 15px;
  right: 15px;
  margin-right: 15px;
  margin-left: auto;
  float: right;
  height: 45px;
  width: 45px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: rotate(180deg);
  }

  img {
    height: 100%;
    width: 100%;
  }
}
