.Wrapper {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 48px;
  height: 48px;
  opacity: 0.8;
  transform: rotate(90deg);
  transition: bottom 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    bottom: 10px;
  }

  &.isPrev {
    bottom: unset;
    top: 0;
    transform: rotate(270deg);
    transition: top 0.3s ease-in-out;

    &:hover {
      bottom: unset;
      top: 10px;
    }
  }
}
