.Wrapper {
  position: relative;
  background-image: linear-gradient(128deg, rgb(252, 64, 255), rgb(4, 1, 87));
  overflow: hidden;
}

.Title {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  top: 15%;
  left: 50%;
  margin: auto;
  font-size: 48px;
  color: #fff;
  transform: translateX(-50%);
  transition: opacity 1s 0.5s ease-in-out;

  &.isActive {
    opacity: 1;
  }
}

.Text {
  opacity: 0;
  position: absolute;
  z-index: 2;
  right: 50%;
  width: 40%;
  font-size: 24px;
  line-height: 1.25;
  color: #fff;
  transform: translateX(50%);
  transition: opacity 1s 0.5s ease-in-out;

  &.isActive {
    opacity: 1;
  }
}
