.Wrapper {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(128deg, rgb(252, 64, 255), rgb(4, 1, 87));
  overflow: hidden;
}

.Title {
  opacity: 0;
  font-size: 48px;
  color: #fff;
  transition: opacity 1.5s 0.5s ease-in-out;
  z-index: 2;

  &.isActive {
    opacity: 1;
  }
}

.Text {
  opacity: 0;
  font-size: 24px;
  line-height: 1.25;
  color: #fff;
  transition: opacity 1.5s 0.5s ease-in-out;
  z-index: 2;

  &.isActive {
    opacity: 1;
  }
}

.Img {
  top: unset;
  bottom: -100vh;
  transition: bottom 1s ease-in-out;

  &.isActive {
    bottom: 0;
  }
}
