.Wrapper {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(135deg, rgb(73, 83, 153) 10%, rgb(4, 1, 87) 100%);
  overflow: hidden;
}

.Title {
  z-index: 2;
  opacity: 0;
  transition: opacity 1.5s 0.5s ease-in-out;

  &.isActive {
    opacity: 1;
  }
}

.Text {
  z-index: 2;
  opacity: 0;
  margin-top: 50px;
  transition: opacity 1.5s 0.5s ease-in-out;

  &.isActive {
    opacity: 1;
  }
}

.Img {
  top: unset;
  bottom: -100vh;
  transition: bottom 1s ease-in-out;

  &.isActive {
    bottom: 0;
  }
}
